target
build
*.iml
.idea
.settings/
.project
.classpath

.java-version

*.ipr
*.iws
.DS_Store
.extract
.site-content/

archiva-modules/archiva-web/archiva-webapp/appserver-base/
archiva-modules/archiva-web/archiva-webapp/overlays/
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/archiva-applet.jar
